@import "tailwindcss";


.slider{
    -webkit-appearance: none;
    height: 100%;
    background: transparent;

}
.slider::-webkit-slider-thumb{
    appearance: none;
    width: 30px;
    height: 30px;
    background-image: url(/public/slide_icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer
}

.bg-layer{
    background-image: url(/public/bg_layer.png);
}